<!-- Contact Section: Simple -->
<div class="bg-white dark:bg-gray-800 dark:text-gray-100">
  <div
    class="container mx-auto space-y-16 px-4 py-16 lg:px-8 lg:py-32 xl:max-w-7xl"
  >
    <!-- Heading -->
    <div class="text-center">
      <div
        class="mb-1 text-sm font-bold uppercase tracking-wider text-blue-600 dark:text-blue-500"
      >
        We reply in 24hrs
      </div>
      <h2 class="mb-4 text-4xl font-black text-black dark:text-white">
        Get in touch
      </h2>
      <h3
        class="mx-auto text-xl font-medium leading-relaxed text-gray-700 dark:text-gray-300 lg:w-2/3"
      >
        {{ content }}
      </h3>
    </div>
    <!-- END Heading -->

    <!-- Contact Form -->
    <div class="mx-auto lg:w-1/2">
      {{ form:contact }}
        {{ if success }}<p class="text-green font-bold mb-4">Thanks! Someone will be in touch soon.</p>{{ /if }}
        {{ if errors }}
          <ul class="text-red font-bold mb-4">
            {{ errors }}
              <li>{{ value }}</li>
            {{ /errors }}
          </ul>
        {{ /if }}

        <input type="hidden" name="honeypot">
        <div class="space-y-1">
          <label for="name" class="font-medium">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            value="{{ old:name }}"
            class="block w-full rounded-lg border border-gray-200 px-5 py-3 leading-6 placeholder-gray-500 focus:border-blue-500 focus:ring focus:ring-blue-500/50 dark:border-gray-600 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-blue-500"
          />
        </div>
        <div class="space-y-1">
          <label for="email" class="font-medium">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            value="{{ old:email }}"
            class="block w-full rounded-lg border border-gray-200 px-5 py-3 leading-6 placeholder-gray-500 focus:border-blue-500 focus:ring focus:ring-blue-500/50 dark:border-gray-600 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-blue-500"
          />
        </div>
        <div class="space-y-1">
          <label for="message" class="font-medium">Message</label>
          <textarea
            id="message"
            name="message"
            rows="6"
            class="block w-full rounded-lg border border-gray-200 px-5 py-3 leading-6 placeholder-gray-500 focus:border-blue-500 focus:ring focus:ring-blue-500/50 dark:border-gray-600 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-blue-500"
          >{{ old:message }}</textarea>
        </div>

        {{# Automagically generated: #}}
        {{# {{ fields }}
          <div class="space-y-1">
            {{ field }}
          </div>
        {{ /fields }} #}}
        <button
          type="submit"
          class="inline-flex w-full items-center justify-center gap-2 rounded-lg border border-blue-700 bg-blue-700 px-8 py-4 font-semibold leading-6 text-white hover:border-blue-600 hover:bg-blue-600 hover:text-white focus:ring focus:ring-blue-400/50 active:border-blue-700 active:bg-blue-700 dark:focus:ring-blue-400/90"
        >
          <svg
            class="hi-mini hi-paper-airplane inline-block size-5 opacity-50"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              d="M3.105 2.289a.75.75 0 00-.826.95l1.414 4.925A1.5 1.5 0 005.135 9.25h6.115a.75.75 0 010 1.5H5.135a1.5 1.5 0 00-1.442 1.086l-1.414 4.926a.75.75 0 00.826.95 28.896 28.896 0 0015.293-7.154.75.75 0 000-1.115A28.897 28.897 0 003.105 2.289z"
            />
          </svg>
          <span>Send Message</span>
        </button>
      {{ /form:contact }}
    </div>
    <!-- END Contact Form -->
  </div>
</div>
<!-- END Contact Section: Simple -->
